.sidebar {
  width: 240px;
  position: fixed;
  top: 125px;
  left: calc(50% + 240px);
  font-size: 13px;
  color: #909090;
  &-info {
    box-sizing: border-box;
    padding: 16px;
    background: #fff;
    margin-bottom: 20px;
    > img {
      width: 100%;
      border-radius: 50%;
      display: block;
      margin-bottom: 16px;
    }
    > h2 {
      margin: 0;
      color: #333;
    }
    > span {
      display: flex;
      align-items: center;
      color: #666;
    }
  }
  &-icon {
    vertical-align: text-bottom;
    color: #909090 !important;
    fill: currentColor;
  }
  &-external {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  a {
    color: #909090;
    text-decoration: none;
    &:visited {
      color: #909090;
    }
    &:hover,
    &:active {
      color: #007fff;
    }
  }
}

@media screen and (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}
